#menu{
    color:rgb(0,0,255);
    float:left;
    margin-right:12px;
}
#tete{
    background-color: rgb(50,0,90,0.5);
    color:brown;
}
#corps{
   background-color: rgb(255,15,200);
   color: brown;
}
